
Backend/.idea/workspace.xml
.idea/Location-based-news-reccomendation.iml
.idea/Location-based-news-reccomendation.iml
Backend/.idea/misc.xml
Backend/.idea/workspace.xml
Backend/.idea/workspace.xml
Backend/.idea/workspace.xml
Backend/.idea/workspace.xml
Frontend/GettingCurrentPosition/node_modules
Frontend/OldGettingGeoLocation/node_modules